<div class="portlet-body form">

    <ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">首页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">商品管理</a>

								<i class="icon-angle-right"></i>

							</li>
                            <li>

								<a href="#">商品申请</a>

								<i class="icon-angle-right"></i>

							</li>
						</ul>

    <!-- BEGIN FORM-->

    <form action="/product/create" class="form-horizontal">

        <div class="control-group success">

            <label class="control-label" for="inputWarning">商品名字</label>

            <div class="controls">

                <input name="product_name" type="text" class="span6 m-wrap"  />

                
            </div>

        </div>

        <div class="control-group success">

            <label class="control-label" for="inputError">商品状态</label>

            <div class="controls">

                <input name="status" type="text" class="span6 m-wrap" />
            </div>

        </div>

        <div class="control-group success">

            <label class="control-label" for="inputSuccess">商品总量</label>

            <div class="controls">

                <input name="total" type="text" class="span6 m-wrap" />
            </div>

        </div>


        <div class="form-actions">

            <button type="submit" class="btn blue">Save</button>

            <button type="button" class="btn">Cancel</button>

        </div>

    </form>

    <!-- END FORM-->

</div>